#video-player-components {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    #video-options {
        .playlistsIncVideo {
            display:flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }
        .modal-content{
            background-color: #043B59;
            h1{
                color: $text-color;
            }
            li{
                color: $button-color;
                a{
                    color: $button-color;
                    text-decoration: none;
                }
            }
            .modal-footer{
                a {
                    color: $button-color;
                }
            }
        }
    }
    #video-player {
        display: flex;
        background-color: grey;
        width: 61vw;
        height: 31vw;
        justify-content: center;
        align-items: center;
        margin-top: 2vw;
        margin-right: -61.2vw;
        border-radius: 5px;
    }
    #video {
        width: 61vw;
        height: 31vw;
    }

    #description {
        background-image: url('/assets/images/card.svg');
        width: 57vw;
        background-repeat: no-repeat;
        background-size: 50vw;
        height: 23vw;
        margin-right: 3.3vw;
        margin-top: 40vw;
        color: #DEDEDE;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #video-options {
        background-image: url('/assets/images/card2.svg');
        background-repeat: no-repeat;
        background-size: 13vw;
        width: 13vw;
        height: 4vw;
        margin-right: -13vw;
        margin-top: 34.5vw;
    }

    #playlist-button {
        background-image: url('/assets/images/addPlaylist.svg');
        background-repeat: no-repeat;
        background-size: 3vw;
        width: 4vw;
        height: 4vw;
        margin-left: 0.7vw;
        margin-top: 0.5vw;
    }

    #like-button {
        background-image: url('/assets/images/like.svg');
        background-repeat: no-repeat;
        background-size: 3vw;
        width: 4vw;
        height: 4vw;
        margin-left: 4.3vw;
        margin-top: -4vw;
    }

    #share-button {
        background-image: url('/assets/images/share.svg');
        background-repeat: no-repeat;
        background-size: 3vw;
        width: 4vw;
        height: 4vw;
        margin-left: 7.7vw;
        margin-top: -4vw;
    }

    #title-description {
        padding: 1vw 0 0 1vw;
        font-size: 1.8vw;
    }
    #text-description {
        padding: 1vw 9vw 1vw 1vw;
        font-size: 1.5vw;
        line-height: 1.8vw;
    }

    #recommanded-videos-field {
        background-color: rgba(3, 3, 0, 0.50);
        border-radius: 5px;
        border: 1px solid $button-color;
        width: 10vw;
        height: 26vw;
        margin-top: 35vw;
        margin-left: -9vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .recommanded-videos {
        display: flex;
        background-color: grey;
        width: 9vw;
        height: 6vw;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.3vw;    
    }

    #thumbnail-recommanded-video {
        width: 9vw;
        height: 6vw;
        border-radius: 5px;
    }
}

@media screen and (max-width: 768px) {
    #video-player-components {
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    

        #video-player {
            width: 100%;
            height: 40vw;
            margin: 0;
            border-radius: unset;
        }

        #video {
            width: 100%;
            height: 40vw;
        }

        #thumbnail-video-player {
            width: 100%;
            height: 40vw;
        }

        #video-options {
            background-image: none;
            margin: 0;
        }

        #playlist-button {
            background-size: 6vw;
            width: 7vw;
            height: 5vw;
            margin-left: -10.3vw;
            margin-top: 2.5vw;
        }

        #like-button {
            background-size: 6vw;
            width: 7vw;
            height: 5vw;
            margin-left: 32.7vw;
            margin-top: -5.5vw;
        }

        #share-button {
            background-size: 6vw;
            width: 7vw;
            height: 6vw;
            margin-left: 69vw;
            margin-top: -4.5vw;
        }

        #description {
            background-image: none;
            margin: 0 0 50vw 0;
        }

        #title-description {
            background-color: rgba(3, 3, 0, 0.50);
            border-radius: 5px;
            border: 1px solid $button-color;
            font-size: 4vw;
            font-weight: 600;
            padding: 1vw;
            margin: 14vw 0 0 -26vw;
        }

        #text-description {
            background-color: rgba(3, 3, 0, 0.50);
            border-radius: 5px;
            border: 1px solid $button-color;
            font-size: 3vw;
            line-height: 4.5vw;
            padding: 1vw;
            margin: 3vw 0 0 -25vw;
            width: 168%;
        }
        

        #recommanded-videos-field {
            display: none;
        }
    }



    @media screen and (max-width: 425px) {
        #video-player {
            height: 60vw;
        }

        #video {
            height: 60vw;
        }

        #thumbnail-video-player {
            height: 60vw;
        }

        #title-description {
            font-size: 5vw;
        }

        #text-description {
            font-size: 4vw;
            line-height: 5.5vw;
        }
    }
}