{% extends 'base.html.twig' %}

{% block title %}
    Origins Digital
{% endblock %}

{% block body %}

    <body class="home-page">
                <h1 id="home-title">Rejoignez le programme
                    virtuel d'Origins Digital
                    pour de nouvelles perspectives
                </h1>

            <div id="home-connexion-buttons">
                <a href ="{{ path('app_login') }}" class="connexion-buttons" id="header-visitor-login-button">LOGIN</a>
                <a href ="{{ path('app_user_new') }}" class="connexion-buttons" id="header-visitor-inscription-button">INSCRIPTION</a>
            </div>
        </div>
    </body>

{% endblock %}

