@media screen and (min-width: 769px) {
#index-category{
    width: 81vw;
    margin-left: 19vw;
    font-family: $main-font;
    h1{
        color: $text-color;
        font-size: 4rem;
        text-align: center;
        padding-top: 8vh;
        margin-bottom: 3vh;
    }
    #index-category-cards {
        margin-left: 5vw;
        margin-right: 5vw;
        height: 71vw;
        .splide {
          margin-left: 0;
          .splide__arrow--prev{
            left: -8.5%;
            top: 35%;
          }
          .splide__arrow--next{
            right: -8.5%;
            top: 35%;
          }
        }
        h2{
            color: $text-color;
            font-size: 3rem;
        }
        span{
            color: $text-color;
            font-size: 1.5rem;
        }
        .js-card{
            background-color: $js-color;
        }
        .php-card{
            background-color: $php-color;
        }
        .html-card{
            background-color: $html-color;
        }
        .css-card{
            background-color: $css-color;
        }
        .all-videos{
            text-decoration: none;
            color: $text-color;
            font-size: 1.2rem;
            display:block;
            text-align: end;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }
        .category-card{
            border-radius: 5px;
            text-align: center;
            height: 250px;
            img{
                width: 85%;
                height: 8rem;
                border: solid black;
                border-radius: 5px;
                margin-top: 7%;
                margin-bottom: 5%;
            }
            h3{
                font-size: 1.5rem;
                font-weight: bold;
                padding-right: 0.3rem;
                padding-left: 0.3rem;
            }
            p{
                display: none;
                font-size: 1rem;
            }
            a{
                border-radius: 3px;
                margin-bottom: 1rem;
                text-decoration: none;
                font-size: 1rem;
            }
            [class*="btn-glitch-"] {
                display: none;
                font-family: "Quantico", monospace;
                border: 1px solid black;
                color: $button-color;
                background-color: $navbar-main-color;
                padding: 5px 7px;
                min-width: 150px;
                line-height: 1.5em;
                white-space: no-wrap;
                text-transform: uppercase;
                cursor: pointer;
                .text,
                .decoration,
                .text-decoration {
                  display: inline-block;
                  color: $button-color;
                }
                .decoration {
                  display: inline-block;
                }
                &:hover, &:focus {
                  animation-name: glitch;
                  animation-duration: 0.5s;
                  background-color: black;
                  color:$button-color;
                  border: 1px solid $button-color;
                  .text-decoration {
                    animation-name: blink;
                    animation-duration: 0.3s;
                    animation-iteration-count: infinite;
                    color: $button-color;
                  }
                  .decoration {
                    animation-name: blink;
                    animation-duration: 0.3s;
                    animation-iteration-count: infinite;
                  }
                  :before {
                    content: " ";
                    width: 15px;
                    position: absolute;
                    right: 25%;
                    bottom: 3px;
                    transform: rotate(35deg)
                  }
                  :after {
                    animation-name: shrink;
                    animation-duration:.5s;
                    animation-iteration-count: 1;
                    animation-fill-mode : forwards;
                    content: " ";
                    width: 75%;
                    position: absolute;
                    left: 0;
                    bottom: 5px;
                  }
                }
                &:active {
                  background: none;
                  color: $button-color;
                  .text-decoration {
                    animation-name: none;
                    color: $button-color;
                  }
                  .decoration {
                    animation-name: none;
                  }
                  :before, :after {
                    display: none;
                  }
                }
              }
              
              @keyframes blink {
                50% {
                  opacity: 0;
                }
              }
              
              @keyframes shrink {
                100% {
                  width: 10%;
                }
              }
            }
          }
        }
      }

@media screen and (max-width:768px){
  #index-categories{
    font-family: $main-font;
    color: $text-color;
    margin-left: 0vw;
    width: 100%;
    h1{
        display: none;
    }
    #index-category-cards {
      .category-carousel{
        border-bottom: solid 1px $button-color;
        display: flex;
        flex-direction: column;
        h2{
          justify-content: center;
          margin-top: 1rem;
          font-size: 1.5rem;
        }
        section{
          display: none;
        }
        .splider{
          display: none;
        }
        a{
          grid-column: 2/3;
          grid-row: 2/3;
          border-radius: 3px;
          display: block;
          margin: auto;
          text-decoration: none;
        }
        [class*="btn-glitch-"] {
            display: inline-block;
            font-family: "Quantico", monospace;
            border: 1px solid black;
            color: $button-color;
            background-color: $navbar-main-color;
            padding: 5px 7px;
            min-width: 150px;
            line-height: 1.5em;
            white-space: no-wrap;
            text-transform: uppercase;
            cursor: pointer;
            .text,
            .decoration {
              display: inline-block;
              color: $button-color;
            }
            .decoration {
              display: inline-block;
            }
            &:hover, &:focus {
              animation-name: glitch;
              animation-duration: 0.5s;
              background-color: black;
              color:$button-color;
              border: 1px solid $button-color;
              .text-decoration {
                animation-name: blink;
                animation-duration: 0.3s;
                animation-iteration-count: infinite;
              }
              .decoration {
                animation-name: blink;
                animation-duration: 0.3s;
                animation-iteration-count: infinite;
              }
              :before {
                content: " ";
                width: 15px;
                border: 1px solid black;
                position: absolute;
                right: 25%;
                bottom: 3px;
                transform: rotate(35deg)
              }
              :after {
                animation-name: shrink;
                animation-duration:.5s;
                animation-iteration-count: 1;
                animation-fill-mode : forwards;
                content: " ";
                width: 75%;
                border: 1px solid black;
                position: absolute;
                left: 0;
                bottom: 5px;
              }
            }
            &:active {
              background: none;
              color:$button-color;
              .text-decoration {
                animation-name: none;
              }
              .decoration {
                animation-name: none;
              }
              :before, :after {
                display: none;
              }
            }
          }
          
          @keyframes blink {
            50% {
              opacity: 0;
            }
          }
          
          @keyframes shrink {
            100% {
              width: 10%;
            }
          }
    }
  }

.all-videos{
  text-decoration: none;
  color: $text-color;
  font-size: 1.2rem;
  display:block;
  text-align: end;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
}
}

