@media screen and (min-width: 769px) {
    #index-category {
        width: 81vw;
        margin-left: 250px;
        font-family: $main-font;
        h1 {
            color: $text-color;
            font-size: 4rem;
            text-align: center;
            padding-top: 7vh;
            margin-bottom: 3vh;
        }
        #index-category-cards {
            margin-left: 5vw;
            margin-right: 5vw;
            height: 71vw;
            .splide {
                margin-left: 0;

                .splide__arrow--prev{
                    left: -4.5%;
                    top: 45%;
                }
                .splide__arrow--next{
                    right: -4.5%;
                    top: 45%;
                }
            }
            h2{
                color: $text-color;
                font-size: 3rem;
                margin-bottom: 1rem;
            }
            span{
                color: $text-color;
                font-size: 1.5rem;
            }
            .js-card{
                background-color: $js-color;
            }
            .php-card{
                background-color: $php-color;
            }
            .html-card{
                background-color: $html-color;
            }
            .css-card{
                background-color: $css-color;
            }
            .all-videos{
                text-decoration: none;
                color: $text-color;
                font-size: 1.3rem;
                display:block;
                text-align: end;
                margin-top: 1rem;
                padding-bottom: 2rem;
            }
            .all-videos-mobile {
                display: none;
            }
            .category-card{
                border-radius: 5px;
                text-align: center;
                height: 250px;

                .recto-index-card {
                    display: block;
                    img{
                        width: 85%;
                        height: 8rem;
                        border: solid black;
                        border-radius: 5px;
                        margin-top: 7%;
                        margin-bottom: 5%;
                    }
                    h3{
                        font-size: 1.5rem;
                        font-weight: bold;
                        padding-right: 0.3rem;
                        padding-left: 0.3rem;
                    }
                }
                .verso-index-card {
                    display: none;
                    h3{
                        font-size: 1.5rem;
                        font-weight: bold;
                        padding-right: 0.3rem;
                        padding-left: 0.3rem;
                        padding-top: 10%;
                    }
                    p{
                        margin-top: 10%;
                        font-size: 1rem;
                    }
                    a{
                        border-radius: 3px;
                        margin-bottom: 1rem;
                        text-decoration: none;
                        font-size: 1rem;
                        margin-top: 10%;
                    }
                    [class*="btn-glitch-"] {
                        display: inline-block;
                        font-family: "Quantico", monospace;
                        border: 1px solid black;
                        color: $button-color;
                        background-color: $navbar-main-color;
                        padding: 5px 7px;
                        min-width: 150px;
                        line-height: 1.5em;
                        white-space: no-wrap;
                        text-transform: uppercase;
                        cursor: pointer;
                        .text,
                        .decoration,
                        .text-decoration {
                            display: inline-block;
                            color: $button-color;
                        }
                        &:hover, &:focus {
                            animation-name: glitch;
                            animation-duration: 0.5s;
                            background-color: black;
                            color:$button-color;
                            border: 1px solid $button-color;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    #index-category {
        font-family: $main-font;
        color: $text-color;
        margin-left: 0vw;
        width: 100%;
        h1 {
            display: none;
        }
        .all-videos{
            text-decoration: none;
            color: $text-color;
            font-size: 1.2rem;
            display:block;
            text-align: end;
            margin-bottom: 1.5rem;
            margin-right: 0.5rem;
        }
        #index-category-cards { 
            .category-carousel {
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr;
                border-bottom: solid 1px $button-color;
                h2 {
                    grid-row: 1/2;
                    grid-column: 1/3;
                    font-size: 2rem;
                    font-weight: bold;
                    margin-top: 1rem;
                    margin-left: 1.5rem;
                    margin-bottom: 1rem;
                }
                section {
                    display: none;
                }
                .all-videos{
                    display: none;
                }
                .all-videos-mobile {
                    margin-right: 50px;
                    margin-left: 50px;
                }
                a {
                    grid-row: 2/3;
                    grid-column: 2/4;
                    border-radius: 3px;
                    display: block;
                    margin: auto;
                    text-decoration: none;
                    font-size: 0.9rem;
                }
                [class*="btn-glitch-"] {
                    display: inline-block;
                    font-family: "Quantico", monospace;
                    border: 1px solid black;
                    color: $button-color;
                    background-color: $navbar-main-color;
                    padding: 5px 7px;
                    line-height: 1.5em;
                    white-space: no-wrap;
                    text-transform: uppercase;
                    cursor: pointer;

                    .text,
                    .text-decoration,
                    .decoration {
                        display: inline-block;
                        color: $button-color;
                    }
                    :hover, &:focus {
                        animation-name: glitch;
                        animation-duration: 0.5s;
                        background-color: black;
                        color:$button-color;
                        border: 1px solid $button-color;
                    }
                }
            }
        }
    }
}

