<form method="post" id="delete-playlist" action="{{ path('playlist_delete', {'id': playlist.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette playlist ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ playlist.id) }}">
	<button class="btn" id="delete-playlist-button">Supprimer la playlist</button>
</form>
