{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn-glitch-fill" type="submit">
	<span class="text">//Enregistrer</span>
	<span class="text-decoration">_</span>
	<span class="decoration">&rArr;</span>
</button>
{{ form_end(form) }}
