{% extends 'base.html.twig' %}

{% block title %}TEST FORMULAIRE{% endblock %}


{% block body %}
    {{ form_start(form) }}
    <fieldset>
        {{ form_widget(form) }}
    </fieldset>
    
    <div class="center-center">
        <a class="btn-glitch-fill">
        <span class="text"><button>{{ button_label|default('//upload_') }}</span><span class="text-decoration">_</span><span class="decoration">&rArr;</span></button></div>
        </a>
    </div>
    {{ form_end(form) }}

{% endblock %}