@media screen and (min-width: 769px) {
    #navbar {
        width: 220px;
        height: 100vh;
        background-color: #030300;
        color: $text-color;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        box-shadow: 6px 0px 4px 0px $button-color;
        position: fixed;
    }

    #logo {
        color: #006AB3;
        font-size: 4vh;
        margin: 3vh;
    }

    span {
        color: $text-color;
    }

    #avatar {
        margin: 2vh;
        width: 60%;
        height: auto;
    }

    #pseudo {
        font-size: 2rem;
        margin-bottom: 2vh;
    }

    #rank {
        border-left: 1px solid $button-color;
        border-bottom: 1px solid $button-color;
        padding: 0 0 1vh 1vh;
        font-size: 1rem;
        margin: 0 1vh 2vh 1vh;
    }

    .link {
        text-decoration: none;
        color: $text-color;
        border-top: 1px solid $text-color;
        border-bottom: 1px solid $text-color;
        width: 100%;
        height: 8%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.8rem;
        padding-left: 1vh;
        margin: 1vh 0 1vh 0;
    }

    .link:hover {
        border-top: 1px solid $button-color;
        border-bottom: 1px solid $button-color;
    }

    .logo-link {
        width: 6vh;
        height: 6vh;
    }

    .nav-button {
        padding-left: 1vh;
    }

    #premium {
        background-color: #EE9F00;
        font-size: 3vh;
    }

    #nav-button-premium {
        margin-left: 3vh;
    }

    #navbar-mobile, #header-mobile {
        display: none;
    }

}
