#rulesTitle {
    color: $text-color;
    text-align: center;
    margin-left: 17%;
    font-size: 3rem;
    padding-top: 7vh;
    margin-bottom: 3vh;
}

.rulesComponent {
    margin-left: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .rulesField {
        display: flex;
        width: 69%;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: rgba(217, 217, 217, 0.30);
        border: 1px solid #030300;
        border-radius: 5px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #rulesList {
        color: $text-color;
        text-align: center;
    }

    .rulesH2Title {
        width: 80%;
        font-size: 3.8vw;
        display: flex;
        flex-direction: row;
        margin-left: 1%;
        margin-bottom: 1vw;
        margin-top: 1vw;
    }

    #rulesTextList{
        font-size: 1.5vw;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2vw;
        margin-top: 2vw;
    }
}