    body {
    background-image: $background-image
}

    #preview {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: end;

        margin-left: 250px;
        gap: 5vw;
            #thumbnailPreview {
            margin-top: 10vw;
            }
            img {
                height:20vw;
                width: 20vw;
            }
            video {
                height: 20vw;
                width: 20vw;
            }
    }


    #form {
        display: grid;
        justify-content: center;
        // padding-top: 5%;
        margin-top: 15%;
        margin-left: 250px;
        label {
            display: flex;
            font-family: "Quantico", monospace;
            margin: 0.3vw;
        }
    }

    #upload_video_title {
        height: 4.1vw;
        width: 67.2vw;
        border: none;
        border-radius: 0%;
        background-color: transparent;
        background-image: url("/assets/images/title.svg");
        background-repeat: no-repeat;
        background-size: 67vw;
        font-size: 1.5vw;
        color:#00FFFD;
        margin-bottom: 2vw;
    }

    #upload_video_description {
        display: flex;
        justify-content: center;
        height: 10.1vw;
        width: 67.2vw;
        border: none;
        border-radius: 0%;
        background-color: transparent;
        background-image: url("/assets/images/description.svg");
        background-repeat: no-repeat;
        background-size: 67vw;
        font-size: 1.5vw;
        color:#00FFFD;
        margin-bottom: 2vw;
    }

    #upload_button {
        display: flex;
        justify-content: space-around;
        color: #00FFFD;
        border-color: #00FFFD;
        border-radius: 0%;
        margin-bottom: 3vw;
    }

    #select_upload {
        display: grid;
        grid-template-columns: 15vw 15vw;
        justify-content: space-around;
        gap: 3vw;
    }

    #form::placeholder,
    #upload_video_title::placeholder,
    #upload_video_description::placeholder,
    #form {
        color: #FFF;
        font-family: $main-font;
        font-size: 2vw;
        padding-left: 1vw;
        padding-right: 6vw;
    }

    select {
        height: 3vw;
        width: 10vw;
        background-color: black;
        border-color: #00FFFD;
        border-radius: 5%;
        font-family: "Quantico", monospace;
        font-size: 1.2vw;
        color: #00FFFD;
    }


    [class*="btn-glitch-"] {
        height: 3.5vw;
        width: 12vw;
        margin-bottom: 3vh;
        margin-top: 3vw;
        margin-left: 40%;
        text-align: center;
        font-size: 1.5vw;
        justify-content: center;
        font-family: "Quantico", monospace;
        border: 1px solid black;
        color: $button-color;
        background-color: $navbar-main-color;
        padding: 5px 7px;
        min-width: 17%;
        line-height: 1.5em;
        white-space: no-wrap;
        text-transform: uppercase;
        cursor: pointer;
        .text,
        .decoration,
        .text-decoration {
            display: inline-block;
            color: $button-color;
        }
        .decoration {
            display: inline-block;
        }
        &:hover,
        &:focus {
            animation-name: glitch;
            animation-duration: 0.5s;
            background-color: black;
            color: $button-color;
            border: 1px solid $button-color;
            .text-decoration {
                animation-name: blink;
                animation-duration: 0.3s;
                animation-iteration-count: infinite;
                color: $button-color;
            }
            .decoration {
                animation-name: blink;
                animation-duration: 0.3s;
                animation-iteration-count: infinite;
            }

            :after {
                animation-name: shrink;
                animation-duration: .5s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                content: " ";
            }
        }
        &:active {
            background: none;
            color: $button-color;
            .text-decoration {
                animation-name: none;
                color: $button-color;
            }
            .decoration {
                animation-name: none;
            }
            :before,
            :after {
                display: none;
            }
        }
    }
    @keyframes blink {
        50% {
            opacity: 0;
        }
    }
    @keyframes shrink {
        100% {
            width: 10%;
        }
    }


@media screen and (max-width: 768px) {
    body{
        background-image: $background-image-mobile;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #preview {
        margin-left: 0;
    }

    #form {
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 15%;
        margin-left: 0;
    }

    #upload_button {
        display: flex;
        justify-content: space-around;
        color: #00FFFD;
        border-color: #00FFFD;
        border-radius: 0%;
        margin-bottom: 3vw;
    }

    #writing_field {
        display: grid;
        justify-content: center;
    }

    #upload_video_title {
        height: 4.5vw;
        width: 67.3vw;
        border-color: transparent;
        border-radius: 0%;
        background-color: transparent;
        background-image: url("/assets/images/title.svg");
        background-repeat: no-repeat;
        background-size: 67vw;
        margin-bottom: 2vw;
    }

    #upload_video_description {
        display: flex;
        justify-content: center;
        height: 10.1vw;
        width: 67.2vw;
        border-color: transparent;
        border-radius: 0%;
        background-color: transparent;
        background-image: url("/assets/images/description.svg");
        background-repeat: no-repeat;
        background-size: 67vw;
        margin-bottom: 2vw;
    }

    #select_upload {
        display: grid;
        grid-template-columns: 15vw 15vw;
        justify-content: space-around;
        gap: 3vw;
        margin-top: 4vw;
    }

    .select {
    height: 3vw;
    width: 10vw;
    background-color: black;
    border-color: #00FFFD;
    border-radius: 5%;
    font-family: "Quantico", monospace;
    font-size: 1.2vw;
    color: #00FFFD;
    }
}

@media screen and (max-width: 425px) {
    #upload_button {display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    select {
        height: 4vw;
        width: 20vw;
        background-color: black;
        border-color: #00FFFD;
        border-radius: 5%;
        font-family: "Quantico", monospace;
        font-size: 2vw;
        color: #00FFFD;
    }
}
