{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}

<h1 id="quizTitle">//QUIZ_</h1>

<div id="quizComponent">

    {% for question in course.questions %}
        <div id="quizField{{question.questionNumber}}" class="quizField">
            <div id="progressBar"></div>
            <ul>
                <li id="questionList">
                    {{question.label}}
                </li>
            </ul>
            <div class="answersContainer">
                {% for answer in question.answers %}
                    <ul>
                        <li class="answersField">{{answer.label}}</li>
                    </ul>
                {% endfor %}
            </div>
            <div class ="buttonContainer">
                <button class="btn-glitch-fill">
                    <span class="text">//Valider</span>
                    <span class="text-decoration">_</span>
                    <span class="decoration">&rArr;</span>
                </button>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
