{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
<h1 id="rulesTitle"> Félicitations </h1>
<div class="rulesComponent">
    <div class="rulesField">
        <div id="rulesList">
            <p></p>
            <div class ="buttonContainer">
                <button class="btn-glitch-fill">
                    <a href="{{ path('app_quiz') }}">
                    <span class="text">//Commencer</span>
                    <span class="text-decoration">_</span>
                    <span class="decoration">&rArr;</span></a>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
