<div id="header-visitor">
    <div id="header-visitor-logo">{<span>Origins</span>/<span>Digital</span>}</div>
    <div id="header-visitor-buttons-container">
        <a href ="#" class="connexion-buttons" id="header-visitor-login-button">LOGIN</a>
        <a href ="#" class="connexion-buttons" id="header-visitor-inscription-button">INSCRIPTION</a>
    </div>
    <img id="header-visitor-search" src= "{{ asset('build/images/search.svg') }}">
</div>
