<div id="header-mobile">
    <a href="{{ path('app_home') }}" id="header-mobile-logo">{<span>Origins</span>/<span>Digital</span>}</a>
    <img id="header-mobile-search" src= "{{ asset('build/images/search.svg') }}">
</div>
