<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/logo-wild-code-school.svg') }}"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap" rel="stylesheet">

		<title>
			{% block title %} Origins Digital {% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>
		{% block nav %}
            {% if app.user %}

                {% include '/component/_headerMobile.html.twig' %}
                {% include '/component/_navbar.html.twig' %}
                {% include '/component/_navbarMobile.html.twig' %}

            {% else %}

                {% include '/component/_headerVisitor.html.twig' %}

            {% endif %}

		{% endblock %}

		{% block body %}{% endblock %}
	</body>
</html>
