@media screen and (min-width: 769px) {
    #playlist-index {
        margin-left: 250px;
        font-family: $main-font;

        #new-playlist {
            color: $text-color;
            font-size: 2.6rem;
            text-align: center;
            padding-top: 5rem;

            a {
                color: $button-color;
            }
        }

        h1 {
            color: $text-color;
            font-size: 4rem;
            text-align: center;
            padding-top: 7vh;
            padding-bottom: 5vh;
        }

        #playlist-add {
            text-decoration: none;
            color: $button-color;
            font-size: 2rem;
            display: flex;
            justify-content: end;
            padding-right: 4rem;
            padding-top: 2rem;
        }

        #playlist-carousels,
        #program-carousels {
            margin-left: 5vw;
            margin-right: 5vw;
            margin-bottom: 2rem;
        }

        .no-video-playlist {
            color: $text-color;
            font-size: 2rem;
            padding-left: 2rem;
        }

        .splide {
            margin-left: 0;

            .splide__arrow--prev {
                left: -4.5%;
                top: 50%;
            }

            .splide__arrow--next {
                right: -4.5%;
                top: 50%;
            }
        }

        h2 {
            color: $text-color;
            font-size: 3rem;
            margin-bottom: 1rem;
            margin-top: 2rem;
        }

        .playlist-title {
            text-align: center;
        }

        span {
            color: $text-color;
            font-size: 1.5rem;
        }

        .all-videos {
            text-decoration: none;
            color: $button-color;
            font-size: 1.3rem;
            display: block;
            text-align: end;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }

        .all-videos-mobile {
            display: none;
        }

        a {
            text-decoration: none;
        }

        .video-card {
            border-radius: 5px;
            text-align: center;
            height: 250px;
            background-color: #043B59;

            .recto-index-card {
                display: block;

                img {
                    width: 85%;
                    height: 8rem;
                    border: solid $navbar-main-color;
                    border-radius: 5px;
                    margin-top: 7%;
                    margin-bottom: 5%;
                }

                h3 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding-right: 0.3rem;
                    padding-left: 0.3rem;
                    text-decoration: none;
                    color: $text-color;
                }
            }

            .verso-index-card {
                display: none;

                h3 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding-right: 0.3rem;
                    padding-left: 0.3rem;
                    padding-top: 10%;
                    text-decoration: none;
                    color: $text-color
                }

                p {
                    margin-top: 10%;
                    font-size: 1rem;
                    color: $text-color;
                }

                a {
                    border-radius: 3px;
                    margin-bottom: 1rem;
                    text-decoration: none;
                    font-size: 1rem;
                    margin-top: 10%;
                    color: $button-color;
                }

                [class*="btn-glitch-"] {
                    display: inline-block;
                    font-family: "Quantico", monospace;
                    border: 1px solid $navbar-main-color;
                    color: $button-color;
                    background-color: $navbar-main-color;
                    padding: 5px 7px;
                    min-width: 150px;
                    line-height: 1.5em;
                    white-space: no-wrap;
                    text-transform: uppercase;
                    cursor: pointer;

                    .text,
                    .text-decoration,
                    .decoration {
                        display: inline-block;
                        color: $button-color;
                    }

                    &:hover,
                    &:focus {
                        animation-name: glitch;
                        animation-duration: 0.5s;
                        background-color: $navbar-main-color;
                        color: $button-color;
                        border: 1px solid $button-color;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #playlist-index {
        font-family: $main-font;

        h1 {
            color: $text-color;
            font-size: 2.8rem;
            text-align: center;
            padding-top: 7vh;
            padding-bottom: 5vh;
        }

        #new-playlist {
            color: $text-color;
            font-size: 2.6rem;
            text-align: center;
            margin-top: 5rem;

            a {
                color: $button-color;
            }
        }

        #playlist-add {
            text-decoration: none;
            color: $button-color;
            font-size: 2rem;
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 300px;
            margin-bottom: 3rem;
            text-align: center;
            padding-top: 2rem;
        }

        #playlist-carousels,
        #program-carousels {
            margin-left: 10vw;
            margin-right: 10vw;
            margin-bottom: 2rem;
        }

        .no-video-playlist {
            color: $text-color;
            font-size: 2rem;
            padding-left: 2rem;
        }

        .splide {
            margin-left: 0;

            .splide__arrow--prev {
                left: -11%;
                top: 50%;
            }

            .splide__arrow--next {
                right: -11%;
                top: 50%;
            }
        }

        h2 {
            color: $text-color;
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        span {
            color: $text-color;
            font-size: 1.5rem;
        }

        .all-videos {
            text-decoration: none;
            color: $button-color;
            font-size: 1.5rem;
            display: block;
            text-align: end;
            margin-top: 1rem;
            padding-bottom: 2.5rem;
        }

        .all-videos-mobile {
            display: none;
        }

        a {
            text-decoration: none;
        }

        .video-card {
            border-radius: 5px;
            text-align: center;
            height: 250px;
            background-color: #043B59;

            .recto-index-card {
                display: block;

                img {
                    width: 85%;
                    height: 8rem;
                    border: solid $navbar-main-color;
                    border-radius: 5px;
                    margin-top: 7%;
                    margin-bottom: 5%;
                }

                h3 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding-right: 0.3rem;
                    padding-left: 0.3rem;
                    text-decoration: none;
                    color: $text-color;
                }
            }

            .verso-index-card {
                display: none;

                h3 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding-right: 0.3rem;
                    padding-left: 0.3rem;
                    padding-top: 10%;
                    text-decoration: none;
                    color: $text-color;
                }

                p {
                    margin-top: 10%;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $text-color
                }

                a {
                    border-radius: 3px;
                    margin-bottom: 1rem;
                    text-decoration: none;
                    font-size: 1rem;
                    margin-top: 10%;
                }

                [class*="btn-glitch-"] {
                    display: inline-block;
                    font-family: "Quantico", monospace;
                    border: 1px solid $navbar-main-color;
                    color: $button-color;
                    background-color: $navbar-main-color;
                    padding: 5px 7px;
                    min-width: 150px;
                    line-height: 1.5em;
                    white-space: no-wrap;
                    text-transform: uppercase;
                    cursor: pointer;

                    .text,
                    .text-decoration,
                    .decoration {
                        display: inline-block;
                        color: $button-color;
                    }

                    &:hover,
                    &:focus {
                        animation-name: glitch;
                        animation-duration: 0.5s;
                        background-color: $navbar-main-color;
                        color: $button-color;
                        border: 1px solid $button-color;
                    }
                }
            }
        }
    }
}
