{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}

    {{ include('component/_headerVisitor.html.twig')}}

    {# <h1 id="user-form-title">Créer un compte</h1> #}

    {{ include('user/_form.html.twig') }}

{% endblock %}
