{% extends 'base.html.twig' %}

{% block nav %}{% endblock %}

{% block title %}Créer un compte{% endblock %}

{% block body %}

{% if (app.user is null) or (app.user.roles[0] != "ROLE_USER") %}
        <h1 id="user-form-title">Créer un compte</h1>
    {% else %}
        <h1 id="user-form-title">Devenir membre Premium</h1>
        <p class="premium-user-form">Afin de pouvoir devenir un utilisateur Premium, nous aurions besoin de quelques informations supplémentaires</p>
{% endif %}

{{ include('user/_form.html.twig') }}

{% endblock %}
