{% extends 'base.html.twig' %}

{% block nav %}{% endblock %}

{% block title %}Créer un compte{% endblock %}

{% block body %}

    <h1 id="user-form-title">Créer un compte</h1>
    {{ include('user/_form.html.twig') }}

{% endblock %}
