{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	-
{% endblock %}

{% block body %}
	<div id="index-categories">
		<h1>//CATÉGORIES_</h1>
		<div id="index-category-cards">
			<h2>COURS</h2>
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="cards-wrapper">
							<div class="card {{slug}}-card" style="width: 18rem;">
								<img class="card-img-top" src="..." alt="Card image cap">
								<div class="card-body">
									<h3 class="card-title">Cours 1</h3>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
							<div class="card {{slug}}-card" style="width: 18rem;">
								<img class="card-img-top" src="..." alt="Card image cap">
								<div class="card-body">
									<h3 class="card-title">Cours 2</h3>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
							<div class="card {{slug}}-card" style="width: 18rem;">
								<img class="card-img-top" src="..." alt="Card image cap">
								<div class="card-body">
									<h3 class="card-title">Cours 3</h3>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="cards-wrapper">
							<div class="card" style="width: 18rem;">
								<img class="card-img-top" src="..." alt="Card image cap">
								<div class="card-body">
									<h3 class="card-title">Cours 4</h3>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
							<div class="card" style="width: 18rem;">
								<img class="card-img-top" src="..." alt="Card image cap">
								<div class="card-body">
									<h3 class="card-title">Cours 5</h3>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
							<div class="card" style="width: 18rem;">
								<img class="card-img-top" src="..." alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="cards-wrapper">
							<div class="card" style="width: 18rem;">
								<img class="card-img-top" src="..." alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
							<div class="card" style="width: 18rem;">
								<img class="card-img-top" src="..." alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
							<div class="card" style="width: 18rem;">
								<img class="card-img-top" src="..." alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
				</a>
			</div>
			<span>Voir plus ...</span>
			{% for category in categories %}{% endfor %}
		</div>
	</div>
{% endblock %}
